//NAVBAR, ABOUT, MAIN IMAGE, FOOTER, SHIPPING & MEDIA QUERY
$contextpadding: 10px 50px;
$mobilefont: .75rem;
$cartbackground: rgb(132, 215, 132);

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.bold {
    font-weight: bold;
}
.centertext {
    text-align: center;
}
.contentmarginpadding {
    padding: 1rem;
    margin: .5rem;    
}
.halfopacity {
    opacity: 0.5;
}
.flex {
    display: flex;
}
//COVER IMAGE
.backgroundcover {
    width: 100%;
}
.coverlogo {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
    padding: 20px 0;
}

//ALL BUTTONS 
.productbutton-container, .contactbutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-button, .contact-button, .checkout-button {
    margin-right: 0.5rem;
    border-color: white;
    background-color: white;
    border-radius: 10px;
    padding: 0.1em 1rem;
    &:hover {
        font-weight: bold;
    }
}

//NAV BAR AND FOOTER
Link {  
    text-decoration: none;
}
.navBar-container, .footer-container { 
    padding: $contextpadding;
    .navlinks {
        display:inline-flex;
    }
    .links {
        padding-top: 0.5rem;
    }
}
a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    &:hover {
        color: black;
        font-weight: bold;
        cursor: pointer;
    }
    &:active {
        font-weight: bold;
        text-decoration: underline;
    }
}
.logo { //LOGO NEXT TO NAV
    display: block;
    width: 200px;
    height: 45px;
}
.footer-socialmedia, .footer-additionalinfo {
    display: flex;
    justify-content: center;
        .fa-brands {
            color: black;
            margin-right: 5px;
        }
     hr {
         opacity: 0.1;
     }
 }
 .fa-solid {
     margin-right: 5px;
 }

 //ABOUT-HOME PAGE
.about-container { 
    .aboutImg, .howImg, .missionImg {
        width: 200px;
        height: 150px;
        border-radius: 5px;
    }
    p {
        padding: 5px 10px;
    }
}

//SHIPPING & RETURN PAGE
.shipandreturn-container {
    padding: 10px 50px;
}
.shipping-question {
    padding-top: 15px;
}
.shippinghead {
    color: purple;
    opacity: 0.5;
}
.returnhead {
    color: brown;
    opacity: 0.5;
}

//PRODUCT PAGE
.productimage-container {
    display: grid;
    grid-template-rows: 1fr 1fr, 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    .coffeeteaImage {
        border-radius: 5px;
        width: 100px;
        height: 100px;
            &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    .buy {
        margin-left: 5px;
        cursor: pointer;
    }
}
.coffeehead, .teahead, .allhead {
    opacity: 0.5;
}
.coffeehead {
    color: blue;
}
.teahead {
    color: green;
}
.allhead {
    color: red;
}

//CONTACT PAGE
form {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: $contextpadding;
}
.contact-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px 0;
    padding: $contextpadding;
}
textarea {
    resize: none;
}
.fa-regular {
    margin-right: 5px;
}
.contacthead {
    color: orange;
    opacity: 0.5;
}
.location {
    padding: $contextpadding;
}

//SHOPPING CART
.cart-section {
    margin-bottom: 30px;
}
.calculation {
    float:right;
}
.row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}

//MEDIA QUERY FOR MOBILE
@media screen and (max-width: 600px) {
    .about-container {
        .about {
            display: block;
        }
        .aboutImg, .howImg, .missionImg {
            margin-top: 5px;
            width: 100px;
            height: 75px;
        }
        .about-info {
            text-align:left;
        }
    }
    .productimage-container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .navBar-container li { //NAVBAR & FOOTER
        text-align: center;
    }
    .navBar-container {
        display: block;
        .navlinks {
            display:inline-block;
        }
        li a {
            display: inline;
            text-align: center;
            flex-direction: column;
                &:hover {
                font-weight: bold;
            }
        }
    }
    
    form {  //CONTACT
        font-size: $mobilefont;
        padding: 5px;
    }
    .contact-subhead {
        text-align: left;
    }
    .contact-box {
        display: inline-block;
        width: 100px;
        padding: 5px;
    }
}    
@media screen and (max-width: 320px) {
    body {
        font-size: $mobilefont;
    }
    h1{ 
        font-size: 1rem;
    }
    .mainimage-container { //MAIN IMAGE 
        .mainImage {
            width: 100%;
            height: 25%;
        }    
    }
    .productimage-container {    //PRODUCT
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        .coffeeteaImage {
            width: 50px;
            height: 50px;
        }
    }
    .buy {
        font-size: $mobilefont;
    }
}