* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.bold {
  font-weight: bold;
}

.centertext {
  text-align: center;
}

.contentmarginpadding {
  padding: 1rem;
  margin: 0.5rem;
}

.halfopacity {
  opacity: 0.5;
}

.quarteropacity {
  opacity: 0.75;
}

.flex {
  display: flex;
}

.blue {
  color: #0d6efd;
}

.green {
  color: #198754;
}

.red {
  color: #dc3545;
}

.purple {
  color: #6f42c1;
}

.brown {
  color: brown;
}

.orange {
  color: #fd7e14;
}

.backgroundcover {
  width: 100%;
}

.coverlogo {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 0;
}

.productbutton-container, .submitbutton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-button, .contact-button, .checkout-button {
  margin-right: 0.5rem;
  border-color: white;
  background-color: white;
  border-radius: 10px;
  padding: 0.1em 1rem;
}
.product-button:hover, .contact-button:hover, .checkout-button:hover {
  font-style: italic;
}

Link {
  text-decoration: none;
}

.navBar-container, .footer-container {
  padding: 10px 50px;
}
.navBar-container .navlinks, .footer-container .navlinks {
  display: inline-flex;
}
.navBar-container .links, .footer-container .links {
  padding-top: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
}
a:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
a:active {
  font-weight: bold;
  text-decoration: underline;
}

.logo {
  display: block;
  width: 200px;
  height: 45px;
}

.footer-socialmedia, .footer-links {
  display: flex;
  justify-content: center;
}
.footer-socialmedia .fa-brands, .footer-links .fa-brands {
  margin-right: 5px;
}
.footer-socialmedia hr, .footer-links hr {
  opacity: 0.1;
}

.fa-solid {
  margin-right: 5px;
}

.homeabout-container .aboutImg, .homeabout-container .howImg, .homeabout-container .missionImg {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}
.homeabout-container p {
  padding: 5px 10px;
}

.shipandreturn-container {
  padding: 10px 50px;
}

.shipping-question {
  padding-top: 15px;
}

.productimage-container {
  display: grid;
  grid-template-rows: 1fr 1fr, 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 20px;
}
.productimage-container .coffeeteaImage {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
.productimage-container .coffeeteaImage:hover {
  opacity: 0.7;
  cursor: pointer;
}
.productimage-container .buy {
  margin-left: 5px;
  cursor: pointer;
}

form {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding: 10px 50px;
}

.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 0;
  padding: 10px 50px;
}

textarea {
  resize: none;
}

.fa-regular {
  margin-right: 5px;
}

.location {
  padding: 10px 50px;
}

label {
  text-align: end;
  margin-right: 1rem;
}

.cart-section {
  margin-bottom: 30px;
}

.calculation {
  float: right;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

@media screen and (max-width: 600px) {
  .homeabout-container .about {
    display: block;
  }
  .homeabout-container .aboutImg, .homeabout-container .howImg, .homeabout-container .missionImg {
    margin-top: 5px;
    width: 100px;
    height: 75px;
  }
  .homeabout-container .about-info {
    text-align: left;
  }
  .productimage-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    margin: auto;
  }
  .navBar-container, .footer-additionalinfo {
    display: block;
  }
  .navBar-container .navlinks, .footer-additionalinfo .navlinks {
    display: block;
  }
  .links {
    text-align: center;
    display: block;
  }
  form {
    font-size: 0.75rem;
    padding: 5px;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 0.75rem;
  }
  h1 {
    font-size: 1rem;
  }
  .mainimage-container .mainImage {
    width: 100%;
    height: 25%;
  }
  .productimage-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .productimage-container .coffeeteaImage {
    width: 50px;
    height: 50px;
  }
  .buy {
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=index.css.map */