$contactpadding: 10px 50px;
$mobilefont: .75rem;

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    justify-content: center;
}

//TEXT-ALIGN-CENTER 
.copyright .submit-button {
    text-align: center;
}   
//ABOUT {
.about-container {
    .about-header {
        text-align: center;
    }
    .about {
        display: flex;
        font-weight: normal;
    }
    .about-headlines {
        font-weight: bold;
        padding: 1rem;
        margin: .5rem;
    }    
    .aboutImg, .howImg, .missionImg {
        width: 200px;
        height: 150px;
        border-radius: 5px;
    }
    p {
        padding: 5px 10px;
    }
}

//NAV BAR
.navBar-container {
    ul {
        list-style-type: none;
        display: inline-flex;
    }
        li {
            margin-right: 15px;
        &:hover {
            font-style: italic;
            cursor: pointer;
    }
        &:active {
            font-weight: bold;
        }
    }
    .search {
        margin-right: 3px;
        padding: 2px;
        width: 150px;
    }
    .shoppingCart {
        border: rgb(40, 121, 40, 0.5);
        background-color: rgb(40, 121, 40, 0.3);
        padding: 5px 10px;
        cursor: pointer;
    }
}

//MAIN IMAGE 
.mainimage-container {
    .mainImage {
        width: 100%;
    }    
    .logo {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
        padding: 16px 0px;
        background-color: rgb(99, 200, 99);
    }
}

//PRODUCT 
.product-header {
    text-align: center;
}
.productimage-container {
    display: grid;
    grid-template-rows: 1fr 1fr, 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .coffeeteaType {
        font-weight: bold;
    }
    .coffeeteaImage {
        border-radius: 5px;
        width: 100px;
        height: 100px;
            &:hover {
            opacity: 0.7;
            cursor: pointer;

        }
    }
    .buy {
    margin-left: 5px;
    cursor: pointer;
    }
}
//CONTACT
form {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: $contactpadding;
}
    .contact-header {
        text-align: center;
    }
    .contact-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6px 0;
        padding: $contactpadding;
    }
    .contact-button {
        margin-left: 30vw;
        width: 150px;
        padding: 5px;
        border: gray;
        border-radius: 5px;
        font-weight: bold;
        background-color: rgb(204, 202, 202);
        box-shadow: 2px 1px 1px;
        color: black;
            &:hover {
                background-color: gray;
                color: white;
            }
            &:active {
                box-shadow: 2px 1px 1px #999;
                transform: translateY(4px)
            }
    }
    textarea {
            resize: none;
        }
    .fa-regular {
        margin-right: 5px;
    }
    .location-container {
        text-align: center;
    }

//FOOTER
.footer {
    font-size: .75rem;
    padding: 2rem;
    .additionalinfo {
        display: flex;
        justify-content: center;
    }
        ul {
            display: inline-flex;
            list-style-type: none;
        }
        li {
            margin-right: 50px;
            text-decoration: none;
            &:hover {
                font-style: italic;
                cursor: pointer
                }
            &:active {
                font-weight: bold;
                }
            }
        }
    .socialmedia {
        display: flex;
        justify-content: center;
            .fa-brands {
                color: black;
                margin-right: 5px;
            }
    hr {
        opacity: 0.1;
    }
}
.fa-solid {
    margin-right: 5px;
}

@media screen and (max-width: 600px) {

    .about-container {
        .about-headlines {
            text-align: center;
        }
        .about {
            display: block;
        }
        .aboutImg, .howImg, .missionImg {
            margin-top: 10px;
            width: 100px;
            height: 75px;
        }
        .about-info {
            text-align:left;
        }
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: $mobilefont;
    }
    h1{ 
        font-size: 1rem;
    }
    //NAVBAR & FOOTER
    .navBar-container {
        ul {
            display: block;
        }
        li {
            display: block;
            text-align: center;
                &:hover {
                font-weight: bold;
            }
        }
        .shoppingCart { 
            margin-left: 175px;
            background-color: rgb(212, 212, 212,0.5);
        }
    }
    .additionalinfo {
        ul {
            display: block;
        }
        li {
            &:hover {
                font-weight: bold;
            }
        }
    }
    .aboutImg, .howImg, .missionImg {
        display: none;
    }
    //MAIN IMAGE 
    .mainimage-container {
        .mainImage {
            width: 100%;
            height: 25%;
        }    
    }
    //PRODUCT
    .productimage-container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        .coffeeteaImage {
            width: 50px;
            height: 50px;
        }
    }
    .buy {
        font-size: $mobilefont;
    }
    //CONTACT
    form {
        font-size: $mobilefont;
        padding: 0;
    }
    .contact-box {
        display: inline-block;
        width: 100px;
        padding: 0;
    }
    .contact-button {
        margin-left: 15vw;
        padding: 0;
    }
}