$contextpadding: 10px 50px;
$mobilefont: .75rem;

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.bold {
    font-weight: bold;
}
.centertext {
    text-align: center;
}
.contentmarginpadding {
    padding: 1rem;
    margin: .5rem;    
}
.halfopacity {
    opacity: 0.5;
}
.flex {
    display: flex;
}

//ABOUT {
.about-container {
    .about {
        font-weight: normal;
    } 
    .aboutImg, .howImg, .missionImg {
        width: 200px;
        height: 150px;
        border-radius: 5px;
    }
    p {
        padding: 5px 10px;
    }
}

//NAV BAR
.navBar-container {
    padding: $contextpadding;
    .navlinks {
        display:inline-flex;
        list-style-type: none;
    }
    li {
        margin-right: 15px;
        &:hover {
            font-style: italic;
            cursor: pointer;
        }
        &:active {
            font-weight: bold;
        }
    }
    .shoppingCart {
        border: rgba(40, 121, 40, 0.5);
        background-color: rgba(40, 121, 40, 0.3);
        padding: 5px 10px;
        cursor: pointer;
    }
}
li.homelink, li.contactlink {
    padding-top: .375rem;
}
.logo {
    display: block;
    width: 200px;
    height: 45px;
}


//MAIN IMAGE 
.backgroundcover {
    width: 100%;
}
.coverlogo {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
    padding: 20px 0;
}
//PRODUCT 
.productimage-container {
    display: grid;
    grid-template-rows: 1fr 1fr, 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    .coffeeteaImage {
        border-radius: 5px;
        width: 100px;
        height: 100px;
            &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    .buy {
        margin-left: 5px;
        cursor: pointer;
    }
    }
.coffeehead {
    color: blue;
    opacity: 0.5;
}
.teahead {
    color: green;
    opacity: 0.5;
}
.allhead {
    color: red;
    opacity: 0.5;
}

//CONTACT
form {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: $contextpadding;
}
    .contact-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6px 0;
        padding: $contextpadding;
    }
    .contact-button {
        margin-left: 30vw;
        width: 150px;
        padding: 5px;
        border: gray;
        border-radius: 5px;
        background-color: rgb(204, 202, 202);
        box-shadow: 2px 1px 1px;
        color: black;
            &:hover {
                background-color: gray;
                color: white;
            }
            &:active {
                box-shadow: 2px 1px 1px #999;
                transform: translateY(4px)
            }
    }
    textarea {
            resize: none;
        }
    .fa-regular {
        margin-right: 5px;
    }
    .contacthead {
        color: orange;
        opacity: 0.5;
    }
    .location {
        padding: $contextpadding;
    }

//SHIPPING
.shipandreturn-container {
        padding: 10px 50px;
    }
    .shipping-question {
        padding-top: 15px;
    }
    .shippinghead {
        color: purple;
        opacity: 0.5;
    }
    .returnhead {
        color: brown;
        opacity: 0.5;
    }
//SHOPPING CART
.cart-section {
        margin-bottom: 30px;
    }
    .calculation {
        float:right;
    }
    .row {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .col-1 {
        flex: 1;
    }
    .col-2 {
        flex: 2;
    }

//FOOTER
.footer {
    font-size: .75rem;
    padding: 2rem;
    .additionalinfo {
        display: flex;
        justify-content: center;
    }
        ul {
            display: inline-flex;
            list-style-type: none;
        }
        li {
            margin-right: 50px;
            text-decoration: none;
            &:hover {
                font-style: italic;
                cursor: pointer
                }
            &:active {
                font-weight: bold;
                }
            }
        }
    .socialmedia {
        display: flex;
        justify-content: center;
            .fa-brands {
                color: black;
                margin-right: 5px;
            }
    hr {
        opacity: 0.1;
    }
}
.fa-solid {
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .about-container {
        .about {
            display: block;
        }
        .aboutImg, .howImg, .missionImg {
            margin-top: 10px;
            width: 100px;
            height: 75px;
        }
        .about-info {
            text-align:left;
        }
    }
    .productimage-container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 320px) {
    body {
        font-size: $mobilefont;
    }
    h1{ 
        font-size: 1rem;
    }
    //NAVBAR & FOOTER
    .navBar-container {
        ul {
            display: block;
        }
        li {
            display: inline;
            text-align: center;
                &:hover {
                font-weight: bold;
            }
        }
        .shoppingCart { 
            margin-left: 175px;
            background-color: rgba(212, 212, 212,0.5);
        }
    }
    .additionalinfo {
        ul {
            display: block;
        }
        li {
            &:hover {
                font-weight: bold;
            }
        }
    }
    .aboutImg, .howImg, .missionImg {
        display: none;
    }
    //MAIN IMAGE 
    .mainimage-container {
        .mainImage {
            width: 100%;
            height: 25%;
        }    
    }
    //PRODUCT
    .productimage-container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        .coffeeteaImage {
            width: 50px;
            height: 50px;
        }
    }
    .buy {
        font-size: $mobilefont;
    }
    //CONTACT
    form {
        font-size: $mobilefont;
        padding: 5px;
    }
    .contact-box {
        display: inline-block;
        width: 100px;
        padding: 5px;
    }
    .contact-button {
        margin-left: 15vw;
        padding: 0;
    }
}