* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  justify-content: center;
}

.copyright .submit-button {
  text-align: center;
}

.about-container .about-header {
  text-align: center;
}
.about-container .about {
  display: flex;
  font-weight: normal;
}
.about-container .about-headlines {
  font-weight: bold;
  padding: 1rem;
  margin: 0.5rem;
}
.about-container .aboutImg, .about-container .howImg, .about-container .missionImg {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}
.about-container p {
  padding: 5px 10px;
}

.abouthead {
  opacity: 0.5;
}

.navBar-container .navlinks {
  display: inline-flex;
  list-style-type: none;
}
.navBar-container li {
  margin-right: 15px;
}
.navBar-container li:hover {
  font-style: italic;
  cursor: pointer;
}
.navBar-container li:active {
  font-weight: bold;
}
.navBar-container .search {
  margin-right: 3px;
  padding: 2px;
  width: 150px;
}
.navBar-container .shoppingCart {
  border: rgba(40, 121, 40, 0.5);
  background-color: rgba(40, 121, 40, 0.3);
  padding: 5px 10px;
  cursor: pointer;
}

li.homelink, li.contactlink {
  padding-top: 0.375rem;
}

.mainimage-container .mainImage {
  margin: auto;
  width: 100%;
}
.mainimage-container .logo {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  font-weight: bold;
  padding: 16px 0px;
}

.product-header {
  text-align: center;
}

.productimage-container {
  display: grid;
  grid-template-rows: 1fr 1fr, 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 20px;
}
.productimage-container .coffeeteaType {
  font-weight: bold;
}
.productimage-container .coffeeteaImage {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
.productimage-container .coffeeteaImage:hover {
  opacity: 0.7;
  cursor: pointer;
}
.productimage-container .buy {
  margin-left: 5px;
  cursor: pointer;
}

.coffeehead {
  color: blue;
  opacity: 0.5;
}

.teahead {
  color: green;
  opacity: 0.5;
}

.allhead {
  color: red;
  opacity: 0.5;
}

form {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding: 10px 50px;
}

.contact-header {
  text-align: center;
}

.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 0;
  padding: 10px 50px;
}

.contact-button {
  margin-left: 30vw;
  width: 150px;
  padding: 5px;
  border: gray;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(204, 202, 202);
  box-shadow: 2px 1px 1px;
  color: black;
}
.contact-button:hover {
  background-color: gray;
  color: white;
}
.contact-button:active {
  box-shadow: 2px 1px 1px #999;
  transform: translateY(4px);
}

textarea {
  resize: none;
}

.fa-regular {
  margin-right: 5px;
}

.location-container {
  text-align: center;
}

.contacthead {
  color: orange;
  opacity: 0.5;
}

.shipping-container {
  padding: 10px 50px;
}

.shipping-question {
  font-weight: bold;
  padding-top: 15px;
}

.return-container {
  padding: 10px 100px;
}

.shippinghead {
  color: purple;
  opacity: 0.5;
}

.returnhead {
  color: brown;
  opacity: 0.5;
}

.footer {
  font-size: 0.75rem;
  padding: 2rem;
}
.footer .additionalinfo {
  display: flex;
  justify-content: center;
}
.footer ul {
  display: inline-flex;
  list-style-type: none;
}
.footer li {
  margin-right: 50px;
  text-decoration: none;
}
.footer li:hover {
  font-style: italic;
  cursor: pointer;
}
.footer li:active {
  font-weight: bold;
}

.socialmedia {
  display: flex;
  justify-content: center;
}
.socialmedia .fa-brands {
  color: black;
  margin-right: 5px;
}
.socialmedia hr {
  opacity: 0.1;
}

.fa-solid {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .about-container .about-headlines {
    text-align: center;
  }
  .about-container .about {
    display: block;
  }
  .about-container .aboutImg, .about-container .howImg, .about-container .missionImg {
    margin-top: 10px;
    width: 100px;
    height: 75px;
  }
  .about-container .about-info {
    text-align: left;
  }
  .productimage-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 0.75rem;
  }
  h1 {
    font-size: 1rem;
  }
  .navBar-container ul {
    display: block;
  }
  .navBar-container li {
    display: inline;
    text-align: center;
  }
  .navBar-container li:hover {
    font-weight: bold;
  }
  .navBar-container .shoppingCart {
    margin-left: 175px;
    background-color: rgba(212, 212, 212, 0.5);
  }
  .additionalinfo ul {
    display: block;
  }
  .additionalinfo li:hover {
    font-weight: bold;
  }
  .aboutImg, .howImg, .missionImg {
    display: none;
  }
  .mainimage-container .mainImage {
    width: 100%;
    height: 25%;
  }
  .productimage-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .productimage-container .coffeeteaImage {
    width: 50px;
    height: 50px;
  }
  .buy {
    font-size: 0.75rem;
  }
  form {
    font-size: 0.75rem;
    padding: 0;
  }
  .contact-box {
    display: inline-block;
    width: 100px;
    padding: 0;
  }
  .contact-button {
    margin-left: 15vw;
    padding: 0;
  }
}/*# sourceMappingURL=index.css.map */